@import "Theme/NewsFeed.scss";
@import "Theme/TopNavigation.scss";
@import "Theme/App.scss";
@import "Theme/Footer.scss";

body,
html {
  margin: 0;
  padding: 0;
  background: #eceff1;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
  overflow-x: hidden;
}

p {
  color: rgb(66, 66, 66);
}

a {
  color: #212121;
  &:hover {
    color: #1e73be;
  }
}
